#mapid {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 101%;
  width: 69%;
  margin-left: 0px;
  margin-top: 0px;
  /*padding: 0;
  margin: 0;*/
          /*z-index: 0;*/
}
#sidebar{
	background-color: #FFF;
	position: absolute;
  right: 1px;
	width: 31%;
	overflow: auto;
  display: block;
}
.buttonLabel{
    line-height: 35px;
    left: 5%;
    margin: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
/* The switch - the box around the slider */
.switch {
  background-color: #2196F3;
  left: 5%;
  margin: auto;
   width: 50%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/*input:checked + .slider {
  background-color: #2196F3;
}*/

/*input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}*/

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
p{
  text-align: center;
}
.subheader{
  text-align: left;
}
#after{
  font-weight: bold;
}
