#mapid {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 101%;
  width: 69%;
  margin-left: 0px;
  margin-top: 0px;
  /*padding: 0;
  margin: 0;*/
          /*z-index: 0;*/
}
#sidebar{
	background-color: #FFF;
	position: absolute;
  right: 1px;
	width: 31%;
	overflow: auto;
  display: block;
}
p{
  text-align: center;
}
.subheader{
  text-align: left;
}
